<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Languages school</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>
<div class="main-container">
    <h1>Welcome to our languages school!</h1>
    <br/>
    <!--suppress HtmlRequiredAltAttribute, RequiredAttributes -->
    <img th:src="@{images/logo.jpg}" width="600"/>
    <br/><br/>
    <a th:href="@{/order}" class="btn btn-primary">Enroll now</a>
</div>
</body>
</html>