<!DOCTYPE html>
<!--suppress HtmlFormInputWithoutLabel -->
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Design your program</title>
    <link rel="stylesheet" th:href="@{/styles.css}"/>
</head>
<body>

<form method="POST" th:object="${order}">

    <div>
        <label>Course: </label>
        <select th:field="*{course}">
            <option th:each="course : ${courses}"
                    th:text="${course.title}"
                    th:value="${course.title}">Course name
            </option>
        </select>
        <span class="validationError"
              th:if="${#fields.hasErrors('course')}"
              th:errors="*{course}">Error</span>
    </div>

    <div>
        <label>Your name: </label>
        <input type="text" th:field="*{userName}"/>
        <span class="validationError"
              th:if="${#fields.hasErrors('userName')}"
              th:errors="*{userName}">Error</span>
    </div>

    <div>
        <label>Credit card number: </label>
        <input type="text" th:field="*{creditCardNumber}"/>
        <span class="validationError"
              th:if="${#fields.hasErrors('creditCardNumber')}"
              th:errors="*{creditCardNumber}">Error</span>
    </div>

    <div>
        <label>Expiration date: </label>
        <input type="text" th:field="*{creditCardExpiration}"/>
        <span class="validationError"
              th:if="${#fields.hasErrors('creditCardExpiration')}"
              th:errors="*{creditCardExpiration}">Error</span>
    </div>

    <div>
        <label>CVV: </label>
        <input type="text" th:field="*{creditCardCVV}"/>
        <span class="validationError"
              th:if="${#fields.hasErrors('creditCardCVV')}"
              th:errors="*{creditCardCVV}">Error</span>
    </div>

    <br/><br/>
    <button>Submit</button>
</form>
</body>
</html>